<div class="well">
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1>Login</h1>
          <button class="btn btn-sm btn-primary">Log In With Facebook</button>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= render 'form'%>
          </div>
        </div><!--close body-->
      </div><!--close panel-->
    </div><!-- close column-->
    <div class="col-sm-5"></div>
  </div><!-- close row -->
</div><!-- close well -->
