<h1>Authors</h1>

<%= render partial: 'application/search', locals: {item: @authors.first}%><br>

<ul>
  <%= render partial: 'list', collection: alphabetized_by_last_name(@authors), as: :author %><br>
</ul>
