<h1>Authors</h1>

<%= render partial: 'application/search', locals: {item: @authors.first}%><br>

<ul>
  <%= render partial: 'alpha_list', collection: alphabetized_authors(@authors), as: :author %><br>
</ul>
