<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="panel panel-info">
        <div class="panel-heading">

          <h1>Authors</h1>
      
          <div class="form-group search-form">
              <%= render partial: 'application/search', locals: {item: "Authors", id: "author-search", path: authors_path}%>
         </div>

        </div><!--close heading-->
        <div class="panel-body">
          <!-- <div class="well"> -->
            <table class="table table-striped catalogue-table">
              <%= render partial: 'table', collection: alphabetized_by_last_name(@authors), as: :author %>
            </table>
          <!-- </div>close sub-well  -->
        </div><!--close body-->
      </div><!--close panel-->
    </div><!--close well-->
  </div><!--close column-->
</div><!--close row-->
