<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="text-primary"><%= @user.name%></h1>

          <%unless checked_out_books?(@user)%>
            <%= render partial: 'delete_user_button', locals: {user: @user}%>
          <%end%>
        </div><!--close heading-->
        <div class="panel-body">
          <%= render partial: 'loans', locals: {user: @user}%>
        </div>
      </div><!-- close panel-->
    </div><!-- close well-->
  </div><!--close column -->
</div><!--close well -->
