<h1>Rails Library</h1>
<%= link_to "Browse Books", books_path%><br>
<%= render partial: 'application/search', locals: {item: @book}%><br>

<%= link_to "Browse Authors", authors_path%><br>
<%= render partial: 'application/search', locals: {item: @author}%><br>
