     <h1 id="browse-books">Browse Books <%if author_view?%> by <%=link_to @author.name, author_path(@author)%> <%end%></h1>

	   <%= render 'add_book_button'%>


	   <%unless author_view?%>

			 <%= render partial: 'application/search', locals: {item: @books.first}%><br>

	   <%end%>

     <h3>
       <a href="#" id="fiction-link">Fiction</a> |
       <a href="#" id="non_fiction-link">Non-Fiction<a> |
       <a href="#" id="most-borrowed-link">Most-Borrowed</a>
     </h3>

     <div id="books-index">

     <%= render 'classifications'%>

      </div>

     <script id="most-borrowed-template" type="text/x-handlebars-template">

        <h3>Most-Borrowed Books</h3>
        <ol>
         {{#each this}}
           <li><a href="/books/{{id}}" data-book-id="{{id}}">{{title}}</a> by <a href="#" data-author-id="{{author.id}}">{{author.name}}</a></li>
         {{/each}}
       </ol>
     </script>
