 <h1 id="browse-books">Browse Books  <%= render 'add_book_button'%></h1>

 <h3>
   <a href="#" id="fiction-link">Fiction</a> |
   <a href="#" id="non-fiction-link">Non-Fiction</a> |
   <a href="#" id="most-borrowed-link">Most-Borrowed</a>
 </h3>

 <div id="books-index">

   <% render 'classifications'%>

</div>
