<h1>Overdue Loans</h1>
<ul>
  <%@loans.overdue.order(due_date: :desc).each do |l|%>
  <li><%= l.book.title%> borrowed by <%=link_to l.patron.name, user_path(l.patron)%> on <%= l.checkout_date.strftime("%B %W, %Y")%> </li>
    <%end%>
  </ul>
  
<h1>All Current Loans</h1>
  
  
