<h3>Overdue Loans</h3>


<ul>
   <%overdue_books.each do |loan|%>
    <li><%= render partial: 'links', locals: {loan: loan} %> due on <%= loan.show_due_date%> </li>
  <%end%>
</ul>
  
<h3>All Current Loans</h3>
<ul>
  <%books_by_due_date.each do |loan|%>
  <li><%= render partial: 'links', locals: {loan: loan} %> on <%= loan.show_checkout_date%> </li>
    <%end%>
</ul>
  
  
