/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: arial;
}

#logo {
  display: inline-block;
  color: white;
  padding-left: 2px;
}

#login-nav {
  color: white;
  float: right;
  margin-top: 2em;
  margin-right: 1em;
}

#login-nav a {
  text-decoration: none;
}

.librarian-option {
  font-variant: small-caps;
  color: red;
}

.button_to,
.button_to div {
  display: inline;
}

.alert, .fields-with-errors {
  color: red;
}

.field-with-errors {
  border: 1px solid red; 
}

.link_to,
.link_to div {
  display: inline;
}

header {
  background: grey;
}

fieldset {
  width: 20em;
}






