<h1>Book Categories</h1>

<h3>Fiction</h3>

<ul>
  <%=render partial: 'list', collection: fiction_categories, as: :category%>
</ul>

<h3>Non-Fiction</h3>

<ul>
  <%=render partial: 'list', collection: non_fiction_categories, as: :category%>
</ul>