<h1>Book Categories</h1>

<h3>Fiction</h3>

<ul>
  <%fiction_categories.each do |category| %>
    <li><%=link_to category.name, category_path(category)%></li>
  <%end%>
</ul>

<h3>Non-Fiction</h3>

<ul>
  <%non_fiction_categories.each do |category| %>
    <li><%=link_to category.name, category_path(category)%></li>
  <%end%>
</ul>