<%= form_tag path, class: "input-group", id: id, method: :get do%>
<%= text_field_tag :query, params[:query], placeholder: "Search #{item}", class: "typeahead form-control"%>
<span class="input-group-btn">
   <%= submit_tag "Go", class: "btn btn-default", name: nil%>
</span>
<%end%>
